In [14]:
# Adicionando livros na lista de livros

# Importando a biblioteca
import pandas as pd

# Criando um dicionário com os dados
dados = {
   "Autores": ["Machado de Assis", "José de Alencar", "Cecília Meireles", "Carlos Drummond de Andrade"],
   "Livros": ["Dom Casmurro", "Iracema", "Romanceiro da Inconfidência", "A Rosa do Povo"],
   "Ano de Publicação": [1899, 1865, 1953, 1945]
}

# Criando um DataFrame
df = pd.DataFrame(dados)

df

                      Autores                       Livros  Ano de Publicação
0            Machado de Assis                 Dom Casmurro               1899
1             José de Alencar                      Iracema               1865
2            Cecília Meireles  Romanceiro da Inconfidência               1953
3  Carlos Drummond de Andrade               A Rosa do Povo               1945

In [15]:
# Adicionando novo livro

# Forma 1
df.loc[4] = ["Fernando Pessoa", "Mensagem", 1934]
df

                      Autores                       Livros  Ano de Publicação
0            Machado de Assis                 Dom Casmurro               1899
1             José de Alencar                      Iracema               1865
2            Cecília Meireles  Romanceiro da Inconfidência               1953
3  Carlos Drummond de Andrade               A Rosa do Povo               1945
4             Fernando Pessoa                     Mensagem               1934

In [16]:
# Forma 2 
novo_livro = {
   "Autores": ["Cecília Meireles"],
   "Livros": ["A Hora da Estrela"],
   "Ano de Publicação": [1977]
}

# Adicionando uma nova linha 
df1 = pd.DataFrame(novo_livro)
df_agrupado = pd.concat([df, df1])
df_agrupado

                      Autores                       Livros  Ano de Publicação
0            Machado de Assis                 Dom Casmurro               1899
1             José de Alencar                      Iracema               1865
2            Cecília Meireles  Romanceiro da Inconfidência               1953
3  Carlos Drummond de Andrade               A Rosa do Povo               1945
4             Fernando Pessoa                     Mensagem               1934
0            Cecília Meireles            A Hora da Estrela               1977