In [24]:
# Tratando dados

import pandas as pd

In [25]:
df = pd.read_csv("kpop_data_nao_tratado.csv")
df

,Name,DebutYear,AnnualSales,TopSong,YouTubeMetrics,Awards,Members,Company,Albums,Active
0,BTS,2013,20000000.0,Dynamite,1200000000,300,7,Big Hit Entertainment,9,Yes
1,EXO,2012,10000000.0,Growl,250000000,100,9,SM Entertainment,6,Yes
2,GOT7,2012,5000000.0,Just Right,350000000,70,7,JYP Entertainment,5,No
3,MAMAMOO,2014,4000000.0,HIP,150000000,60,4,RBW,3,Yes
4,NCT,2016,7000000.0,Cherry Bomb,100000000 views,90,23,SM Entertainment,4,Yes
5,Seventeen,2012,6000000.0,Don't Wanna Cry,180000000,80,13,Pledis Entertainment,4,Yes
6,Monsta X,2015,3000000.0,Shoot Out,90000000,40,6,Starship Entertainment,2,Yes
7,AOA,2012,2000000.0,Like a Cat,50000000,30,7,FNC Entertainment,3,No
8,Crayon Pop,2012,1500000.0,Bar Bar Bar,70000000,20,5,Chrome Entertainment,1,No
9,VIXX,2012,3000000.0,Voodoo Doll,90000000,50,6,Jellyfish Entertainment,3,Yes
10,TWICE,2015,8000000.0,Cheer Up,450000000,120,9,JYP Entertainment,4,Yes

In [26]:
auxiliar = df.loc[4]

In [27]:
def limpa_preco(linha):
   linha['YouTubeMetrics'] = linha['YouTubeMetrics'].replace(' views', '')
   return linha

df.apply(lambda x: limpa_preco(x), axis=1)

,Name,DebutYear,AnnualSales,TopSong,YouTubeMetrics,Awards,Members,Company,Albums,Active
0,BTS,2013,20000000.0,Dynamite,1200000000,300,7,Big Hit Entertainment,9,Yes
1,EXO,2012,10000000.0,Growl,250000000,100,9,SM Entertainment,6,Yes
2,GOT7,2012,5000000.0,Just Right,350000000,70,7,JYP Entertainment,5,No
3,MAMAMOO,2014,4000000.0,HIP,150000000,60,4,RBW,3,Yes
4,NCT,2016,7000000.0,Cherry Bomb,100000000,90,23,SM Entertainment,4,Yes
5,Seventeen,2012,6000000.0,Don't Wanna Cry,180000000,80,13,Pledis Entertainment,4,Yes
6,Monsta X,2015,3000000.0,Shoot Out,90000000,40,6,Starship Entertainment,2,Yes
7,AOA,2012,2000000.0,Like a Cat,50000000,30,7,FNC Entertainment,3,No
8,Crayon Pop,2012,1500000.0,Bar Bar Bar,70000000,20,5,Chrome Entertainment,1,No
9,VIXX,2012,3000000.0,Voodoo Doll,90000000,50,6,Jellyfish Entertainment,3,Yes
10,TWICE,2015,8000000.0,Cheer Up,450000000,120,9,JYP Entertainment,4,Yes