In [88]:
# Pandas DataFrames
import pandas as pd

In [89]:
dictionary = {
      "Autores": ["Rick Riordan", "J.K. Rowling", "George R. R. Martin"],
      "Titulos": ["Percy Jackson", "Harry Potter", "Game of Thrones"],
      "Preços": [29.99, 39.99, 49.99]
   }

# Dataframes 
df = pd.DataFrame(dictionary)
df # Mostra o dataframe

               Autores          Titulos  Preços
0         Rick Riordan    Percy Jackson   29.99
1         J.K. Rowling     Harry Potter   39.99
2  George R. R. Martin  Game of Thrones   49.99

In [90]:
df["Autores"] # Mostra a coluna Autores

0           Rick Riordan
1           J.K. Rowling
2    George R. R. Martin
Name: Autores, dtype: object

In [91]:
df["Autores"] == "Rick Riordan" # Mostra os valores True e False, parece a mascara booleana

0     True
1    False
2    False
Name: Autores, dtype: bool

In [92]:
# Corrigindo preços da linha 
mascara_correcao = df["Titulos"] == "Percy Jackson"
df.loc[mascara_correcao, "Preços"] = 49.99
df

               Autores          Titulos  Preços
0         Rick Riordan    Percy Jackson   49.99
1         J.K. Rowling     Harry Potter   39.99
2  George R. R. Martin  Game of Thrones   49.99